/* Estilos da página index.html */

.center {
  text-align: center;
  color: white;
  font-size: 30px;
}

.rodape {
    text-align: center;
    color: white;
    padding-top: 400px;
}

#menu li {
    display: inline;
    padding: 100px;
    color: white;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    }

    #menu li a:hover {
        color: #b2bec3;
        text-decoration: underline;
    }

    body {
    background: linear-gradient(-45deg, #000000, #5c5656, #000000, #ff3838);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    }
        @keyframes gradient {
           0% {
             background-position: 0% 50%;
            }
          50% {
             background-position: 100% 50%;
            }
          100% {
             background-position: 0% 50%;
            }
         }
    

/* Estilos da página contato.html */

.fale_comigo {
    text-align: center;
    font-family: Courier;
    color: white;
    padding-top: 100px;
}

.redes a {
    color: white;
     font-family: Courier;
     text-decoration: none;
     padding: 100px;
}

.redes {
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
}

.redes a:hover {
    color: #b2bec3;
    text-decoration: underline;
}
